  <form action='/tweets' method="post">
    Content:
    <input type="text" id="content" name="content" required><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">
  </form>
